/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
  font-family: 'Gantari', Verdana, sans-serif;
  padding: 2rem;
  font-size: 1rem;
  margin:1em 5em;
}
 
h1{
  font-family:'Germania One';
  font-size: 3rem;
}

h2 {
  margin-top: 2rem;
  font-size: 2.25rem;
  font-family:'Karantina';
}

h3 {
  font-style: italic;
  margin-top: 0.5rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #efe8e1;
  padding: 0.5rem;
  display: block;
}

img{
  height: auto; 
  max-width:100%;
}

a{
  color:#6e8015;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* links */
a:hover, a:focus{
  color:#424e08;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color: #6e8015;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  border-radius: 0.2rem;
}

.button-nav:hover, .button-nav:focus {
  background-color:#424e08;
  color:#ffffff;
}

.navbar{
  margin:1em 0em;
}
input[type="text"], input[type="email"]{
  border-radius: 0.2rem;
  border-color:#7d7166;
  background: #efe8e1;
  border-style: dotted;
  margin:0.5em;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus {
  border-radius: 3px;
  border-color:#7d7166;
  background: #efe8e1;
  border-style:solid;
  outline:none;
}

label{
  font-style: italic;
  color:#7d7166;
}

button[type="submit"]{
  background-color: #6e8015;
  color: white;
  border-color:#6e8015;
  padding: 0.5rem;
  border-radius: 0.2rem;
  
}

button[type="reset"]{
  
  color: #6e8015;
  border-color: #6e8015;
  padding: 0.5rem;
  border-radius: 0.2rem;
  
}

button:hover, button:focus{
  background-color:#424e08;
  color:white;
}

/*highlight select colour*/
::selection{
  background-color:#6e8015;
}

.img-link{
  height:auto;
  max-width:20em;
}

.img-link:hover, .img-link:focus{
  opacity: 60%;
}
