/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: Futura;
  padding: 7em;
}

body {
  position:relative;
  font-family: Futura;
  padding-top: 5rem;
  padding-bottom: 7rem;
  padding-left: 7rem;
  padding-right: 7rem;
  margin:0;
}

/* This portion of code is drawn from https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
body::after {
  content: '';
  display: block;
  height: 520px; /* Set same as footer's height */
}

.element {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 0.1em solid black;
  border-radius:0.5em;
}

img{
  height: auto;
  max-width:100%;
}

/* Add space between <section> elements */
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for buttons */
/*  This portion of code is drawn from the style guide template provided */
button {
  background-color: black;
  border: 0.1em solid black;
  border-radius:0.5em;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  display: inline-block;
  font-size: inherit;
  margin: 1em 0em 0em 0em;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: rgb(191, 228, 40);
  color: black;
}

.remove-button{
  font-size:0.8em;
  padding:0.8em 0.8em;
}

/* This portion of code is drawn from www.w3schools.com/css/css_form */
input, textarea {
  padding: 0.8em 1em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border: 0.1em solid black;
  border-radius:0.5em;
  width:100%;
}

input:hover { border: 0.1em solid rgb(191, 228, 40); }

input:focus { border: 0.1em solid black; }

input[type="radio"]{ width:auto; }

/* prevents textarea (review box) from being resizable */
textarea{ resize: none; }

/* images that are links styling */
.img-link:hover,.img-link:hover:focus{
  opacity: 0.3;
}


/*
  TEXT ELEMENTS -------------------
*/
a{ color: black; }

a[href*="citations"], a[href*="StyleGuide"]{
  color: white;
}

/* This portion of code is drawn from www.w3schools.com/cssref/sel_hover & www.w3schools.com/cssref/css_selectors */
a:hover { color: rgb(191, 228, 40); }

nav a:hover, nav a:focus {
  color: rgb(191, 228, 40);
}

code {
  background-color: #efe8e1;
  padding: 2rem;
  display: block;
}

h1{ margin:0; }

h2 { margin-top: 0.5rem; }

h3 {
  margin-top: 0.25rem;
  color: #6E8015;
}

h4 { margin-bottom: 0.5rem; }

/*
  COMBINED ELEMENTS -------------------
*/
/* This portion of code is drawn from w3schools.com/css/css_navbar_horizontal */
.navbar{
  display:flex;
  margin: 0;
  padding: 0;

  background-color: black;
  border-radius:0.5em;
  flex-grow:2;
}

/* Adjusts the navigation bar when the screen gets too small */
@media(max-width:45em){
  .navbar{
    flex-wrap:wrap;
  }
  .button-nav:last-of-type{
    margin-left:none;
    margin-right: auto;
  }
}

.button-nav{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1.5em;
  text-decoration: none;
}

.button-nav:hover:not(.active){
  background-color: rgb(191, 228, 40);
  color: black;
  border-radius: 0.5em;
}

.button-nav:last-of-type{
  margin-left:auto;
}

.nav-img{
  width:100%;
  max-width:2.2em;
  padding-left:1em;
}

/* Product page images */
.product-img{
  min-width:5em;
}

/* Review stars images */
.stars-img{
  width:100%;
  max-width:6em;
}

/* Footer styling */
.logo-img{
  width:100%;
  max-width:3em;
}

.footer-img{
  width:100%;
  max-width:1.5em;
}

.footer button{
  border-color:white;
  border:0.1em;
  border-style:solid;
}

/* Small product showcase images on single product page */
.product-display-img{
  max-width:6em;
  opacity: 0.8;
}

.product-display-img:hover{ opacity:1; }

/* Italics */
.italic{ font-style:italic; }

/* Banner */

.banner{
  position: relative;
  overflow: hidden;
  max-height: 30em;
}

.banner .textbox{
  position: absolute;
  left:0;
  top:0;
  color:white;
  padding:2em;
  width:25vw;
  min-width:auto;
  background-color:black;
}

/* Change the cart image to black on hover. */
/* Learned about background image property from https://www.w3schools.com/cssref/pr_background-image.php */
.cartImg{
  background-image: url("../img/cart-w.png");
  background-repeat: no-repeat;
  height: 1em;
  background-size:contain;
  padding-left:2em;
  margin-top:0.1em;
}
.cart-button:hover .cartImg{ background-image: url("../img/cart-b.png"); }



/* Product quantity counter adapted from https://dev.to/stackfindover/products-quantity-counter-using-html-css-javascript-663 */
.counter {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter input {
  width: 3em;
  border: 0;
  font-size:inherit;
  text-align: center;
  background: black;
  color: white;
  appearance: none;
  outline: 0;
}
.counter span {
  display: block;
  padding: 0 0.6em;
  font-size:inherit;
  cursor: pointer;
  color: black;
  user-select: none;
}
